@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
html{
    scroll-behavior:smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #111;
  }
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    }
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(128, 128, 128, 0.5);
}
::-webkit-scrollbar-track{
    border: 20px;
}
.max-width{
    max-width: 1500px;
    padding: 0 50px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 0;
    transition: all .3s ease;
    z-index: 999;
}
.navbar.sticky{
    background: linear-gradient(to bottom,crimson 80%, rgb(73, 73, 73) );
    padding: 5px 0;
    transition: all .4s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
}
.navbar .logo a span{
    color: crimson;
}
.navbar.sticky .logo a span{
    color: rgb(0, 0, 0);
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    margin-left: 25px;
    transition: color .3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: rgb(0, 0, 0);
}
.menu-btn{
    color: white;
    cursor: pointer;
    display: none;
}
/* HOME SECTION */

.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1616004675303-ae5657c14af7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px; 
}
.home .max-width{
    margin: auto 0 auto 5px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 600;
}
.home .home-content a{
    display: inline-block;
    color: white;
    background: crimson;
    font-size: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius:  6px;
    border: 2px solid crimson;
    transition: all .3s ease;
    letter-spacing:1.5px ;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}




/* ABOUT SECTION */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.about .about-content .left{
    width: 45%;
    
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    color: white;
    background: crimson;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius:  6px;
    border: 2px solid crimson;
    transition: all .3s ease;
    letter-spacing:1.5px ;
}
.about .about-content .right a:hover{
    background: none;
    color: crimson;
}
.about .about-content .column{
    width: 50%;
}

/* Services */
.services{
    font-family: 'Poppins', sans-serif;
    background: #111;
    color: white;
}
.services .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.services .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
    padding-bottom: 30px;
    text-align: justify;
}
.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    padding: 20px 25px;
    cursor: pointer;
    text-align: center;
    transition: all .3s ease;
    border-radius: 10px;
}

.services .services-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color .3s ease;
}
.services .services-content .card:hover{
    background: crimson;
}
.services .services-content .card:hover i{
    color: #fff;
}
.services .services-content .card .text{
    font-size: 50px;
    padding-bottom: 10px;
}

.services .services-content .card .box{
    transition: all .3s ease;
}
.services .services-content .card .box:hover{
    transform: scale(1.05);
}
.arrow{
    display:inline-block;
    cursor: pointer; 
    
}
.about .about-content .right a:hover .arrow{
    color: crimson;
    transform: rotateZ(90deg);
    transition: .5s ease;
}

.navbar .menuside{
    display: none;
}


@media (max-width:800px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn:hover{
        color: crimson;
    }
    .navbar.sticky .menu-btn:hover{
        color: rgb(0, 0, 0); 
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 40%;
        right: -100%;
        top: 0;
        background: rgba(32, 31, 31, 0.8);
        backdrop-filter: blur(8px);
        filter: drop-shadow(0px 0px 20px rgb(255, 255, 255, 0.3));
        text-align: center;
        padding-top: 80px;
        transition: all .3s ease-in-out;  
    }
    .navbar .menuside{
        display: block;
        position: fixed;
        height: 100vh;
        width: 235%;
        right: 100%;
        top: 0;
        padding-top: 80px;
    }
    .navbar .menu.active{
        right: 0;
    }
    .navbar .menu li{
        display:block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        transition: all .3s ease;
    }
    .navbar .menu li a:hover{
        color: crimson;
        transform: scale(1.15);
    }
    .navbar.sticky .menu li a:hover{
        color: crimson;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .menu-btn i.active:hover{
        color: crimson;
    }
    .home .home-content .text-2{
        font-size: 60px;
        margin-left: -3px;
        transition: all .3s ease;
    }
    .home .home-content .text-3{
        font-size: 25px;
        margin: 5px 0;
        transition: all .3s ease;
    }
    .home .home-content a{
        font-size: 15px;
        padding:  6px 18px;
        font-weight: bolder;
        letter-spacing: 1.5px ;
    }
    .services .services-content .card .text{
        font-size: 35px;
        padding-bottom: 10px;
    }
    .services .services-content p{
        font-size: 14px;
    }


}

@media (max-width:1000px){
    .about .about-content .left img{
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .right a{
        font-size: 15px;
        transition: all .3s ease;
    }
    .services .services-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .services .services-content .card .text{
        font-size: 35px;
        padding-bottom: 10px;
    }
    .services .services-content p{
        font-size: 14px;
    }
}