@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    overflow: none;
}
html{
    scroll-behavior:smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #111;
  }
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
    }
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(128, 128, 128, 0.5);
}
::-webkit-scrollbar-track{
    border: 20px;
}
.max-width{
    max-width: 1500px;
    padding: 0 40px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 0;
    transition: all .3s ease;
    z-index: 999;
}
.navbar.sticky{
    background: crimson;
    padding: 5px 0;
    transition: all .4s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
}
.navbar .logo a span{
    color: crimson;
}
.navbar.sticky .logo a span{
    color: rgb(0, 0, 0);
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    margin-left: 25px;
    transition: color .3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: rgb(0, 0, 0);
}
.menu-btn{
    color: white;
    cursor: pointer;
    display: none;
}
/* HOME SECTION */

.home{
    display: flex;
    background: url("https://images.unsplash.com/photo-1616004675303-ae5657c14af7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80") no-repeat center;
    background-size:cover;
    height: 100vh;
    color: #fff;
    min-height: 500px; 
}
.home .max-width{
    margin: auto 0 auto 5px;
}
.home .home-content .text-1{
    font-size: 20px;
}
.home .home-content .text-2{
    font-size: 75px;
    margin-left: -3px;

}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 600;
}

/* ABOUT SECTION */
section{
    padding: 100px 0;
}
.about, .skills, .contact, .footer{
    font-family: 'Poppins', sans-serif;
}
.about .title , .skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-content, .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
    
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text, .skills .skills-content
.column .text{
    font: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    color: white;
    background: crimson;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius:  6px;
    border: 2px solid crimson;
    transition: all .3s ease;
    letter-spacing:1.5px ;
}
.about .about-content .right a:hover{
    background: none;
    color: crimson;
}
.about .about-content .column{
    width: 50%;
}

/* Projects */
.services, .contact{
    font-family: 'Poppins', sans-serif;
    background: #111;
    color: white;
}
.services .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.services .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
    padding-bottom: 30px;
    text-align: justify;
}
.services .services-content .card{
    display: flex;
    
}
.services .services-content .card .box{
    border: 1px solid lightgray;
    background: #222;
    padding: 20px 25px;
    text-align: center;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 12px;
    width: 400px;
    
}

.services .services-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color .3s ease;
}
.services .services-content .card .box:hover{
    background: crimson;
}
.services .services-content .card .box:hover i{
    color: #fff;
}
.services .services-content .card .text{
    font-size: 50px;
    padding-bottom: 10px;
}

.services .services-content .checkout{
    margin-top: 12px;
}
.btn{
    display: inline-block;
    padding:5px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid crimson;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease;
    background: #2b2b2b;
}
.btn:hover{
    color: crimson;
    font-weight: 500;
}
.services a{
    font-style: none;
    color: white;
}
.services-content span{
    color: crimson;
    font-weight: 500;
}
.services-content span:hover{
    color: rgba(220, 20, 60, 0.623);
}

.arrow{
    display:inline-block;
    cursor: pointer; 
    
}
.about .about-content .right a:hover .arrow{
    color: crimson;
    transform: rotateZ(90deg);
    transition: .5s ease;
}

.navbar .menuside{
    display: none;
}


/* SKILLS SECTION */
.skills .title, .contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content i{
    margin-right: 7px;
}
.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .column{
    width: calc(55% - 30px);
}

.skills .skills-content .right{
    width: 40%;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .skills-content .right .html::before{
    width: 90%;

}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .js::before{
    width: 70%;
}
.skills .skills-content .right .python::before{
    width: 80%;
}
.skills .skills-content .right .sql::before{
    width: 50%;
}
.skills .skills-content .right .react::before{
    width: 60%;
}

.scroll-up-btn{
    position: fixed;
    height: 40px;
    width: 40px;
    background: crimson;
    right: 20px;
    bottom: 10px;
    text-align: center;
    line-height:45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}
.scroll-up-btn:hover{
    background: none;
    color: crimson;
    border: 1px solid crimson;
}

/* Contact */
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
}

.contact .contact-content .column{
   width: calc(55%-20px);
}
.contact .contact-content .text p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left {
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left:30px ;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 800;
}
.contact .contact-content .info .sub-title{
    color: rgba(255, 255, 255, 0.781) ;
}
.contact .contact-content .right{
    width: 45%;
    margin-right: 5rem;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields,
.contact .right form  .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .field input, 
.contact .right form textarea{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(199, 7, 7);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: white;
}

/* Footer */
footer{
    width: 100%;
    padding: 20px 23px;
    text-align: center;
}
.list-nonbullet{
    list-style: none;
}
footer .social-links{
    margin-top: 15px;
}
.list-inline{
    display: inline;
    padding: 1rem 0.5rem;
}

.footer .footer-img{
    width: 30px;
    height: 30px;
    display:ruby-text-container;
    transition: all .2s ease-in-out;
    margin-right: 9px;
}
.footer .footer-img:hover{
    transform: scale(1.35);
}
.footer .title{
    position: relative;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.blog-container
{
    display: flex;
    justify-content: center;
}
.blog-content{
    transition: .2s ease-in-out;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.322);
    padding: 1.3rem;
    border-radius: 6px;
    background: #2b2b2b;
    text-align: center;
    width: 400px;
    margin: 12px;
}

.blog-content a{
    color: crimson;
}
.blog-content a:hover{
    color: rgba(220, 20, 60, 0.555);
}

.blog-title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: crimson;
}
.blog-content >p{
    margin-bottom: 15px;
    
    
}
.blog-content > button{
    border-radius: 6px;
    border: 1px solid crimson;
    cursor:pointer;
    width: fit-content;
}
.blog1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    max-width: 900px;
    text-align: justify;
    margin: auto;
}
.blog1 a{
    color: #1DA1F2;
}
.blog1-content img{
    width: 300px;
    height: 300px;
    margin: 12px;
    display: inline-block;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    
}
.blog1-content{
    letter-spacing: 1px ;
}
.blogs{
    padding: 100px 0;
    color: white;
}
.blog-body{
    background: url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.836);
    background-blend-mode: overlay;
    font-family: 'Poppins', sans-serif;
}
.blog-body footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 5px;
}
.blog1-body{
    background: url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
    background-color: rgba(0, 0, 0, 0.836);
    background-blend-mode: overlay;
    font-family: 'Poppins', sans-serif;
    color: white;
}

@media (max-width:800px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn:hover{
        color: crimson;
    }
    .navbar.sticky .menu-btn:hover{
        color: rgb(0, 0, 0); 
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 40%;
        right: -100%;
        top: 0;
        background: rgba(32, 31, 31, 0.8);
        backdrop-filter: blur(8px);
        text-align: center;
        padding-top: 80px;
        transition: all .3s ease-in-out;  
    }
    .navbar .menuside{
        display: block;
        position: fixed;
        height: 100vh;
        width: 145%;
        right: 100%;
        top: 0;
        padding-top: 80px;
    }
    .navbar .menu.active{
        right: 0;
    }
    .navbar .menu li{
        display:block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        transition: all .3s ease;
    }
    .navbar .menu li a:hover{
        color: crimson;
        transform: scale(1.15);
    }
    .navbar.sticky .menu li a:hover{
        color: crimson;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .menu-btn i.active:hover{
        color: crimson;
    }
    .home .home-content .text-2{
        font-size: 60px;
        margin-left: -3px;
        transition: all .3s ease;
    }
    .home .home-content .text-3{
        font-size: 25px;
        margin: 5px 0;
        transition: all .3s ease;
    }
    .home .home-content a{
        font-size: 15px;
        padding:  6px 18px;
        font-weight: bolder;
        letter-spacing: 1.5px ;
    }
    .services .services-content .card .text{
        font-size: 35px;
        padding-bottom: 10px;
    }
    .services .services-content p{
        font-size: 14px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 25px;
        transition: all .5s ease;
    }

    .scroll-up-btn{
        height: 30px;
        width: 30px;
        line-height:30px;
    }

}

@media (max-width:1000px){
    .about .about-content .left img{
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .right a{
        font-size: 15px;
        transition: all .3s ease;
    }
    .services .services-content .card{
        margin-left: 0px;
    }
    .services .services-content .card .box{
        margin-bottom: 20px;
        width: 210px;
    }
    .services .services-content .card .text{
        font-size: 35px;
        padding-bottom: 10px;
    }
    .services .services-content p{
        font-size: 14px;
    }
}